{% extends 'base.twig.html' %}
{% block content %}
      <header class="masthead">
        <div class="tweet-button">
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="jrschumacher">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        </div>

        <p class="introducing">Hello, you are using</p>
        <h1>Silex Pagoda Box Quickstart</h1>
        <p class="tagline">
          If you have questions, comments or want to help drop me a line on <a href="http://github.com/jrschumacher/silex-pagodabox-quickstart">Github.</a><br>
            <iframe src="http://ghbtns.com/github-btn.html?user=jrschumacher&repo=silex-pagodabox-quickstart&type=watch"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=jrschumacher&repo=ilex-pagodabox-quickstart&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=jrschumacher&repo=ilex-pagodabox-quickstart&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>
        </p>
      </header>
      <footer>
        <div class="row">
          <div class="span3">
            <h4>Built with,</h4>
            <ul class="nav">
              <li><a href="http://silex.sensiolabs.org/">Silex</a></li>
              <li><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a></li>
              <li><a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a></li>
            </ul>
          </div>
          <div class="span2 offset5">
            <h6>Powered by</h6>
            <a class="pagoda-box" href="http://pagodabox.com/"></a>
          </div>
        </div>
      </footer>
{% endblock %}